---
BasedOnStyle: GNU
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterColon
BraceWrapping:
  AfterControlStatement: Always
  AfterClass: true
  AfterFunction: true
  BeforeElse: true
ColumnLimit: 100
ConstructorInitializerAllOnOneLineOrOnePerLine: true
Cpp11BracedListStyle: true
IndentWidth: 4
PackConstructorInitializers: Never
SpaceBeforeParens: ControlStatements
